.lamtra-header {
  width: 100%;
  height: 150px;
  background: #f7a9bf;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08);
}

.header-container {
  position: relative;

  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: clamp(24px, 4vw, 48px);
}

.header-left {
  justify-content: flex-end;
  display: flex;
  gap: 48px;
}

.header-right {
  justify-content: flex-start;
  display: flex;
  gap: 48px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
  z-index: 1;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  white-space: nowrap;
  transition: color 0.25s ease;
  text-decoration: none;
}

.nav-item:hover {
  color: #fec8dc;
}

.nav-item.active {
  color: #d8ef75;
}

.mobile-link.active {
  color: #d8ef75;
}

.header-center {
  justify-self: center;
  padding: 0 clamp(32px, 4vw, 64px);
}

.header-center img {
  height: 62px;
}

.hamburger,
.header-right-icon {
  display: none;
}

.mobile-menu {
  width: 100%;
  background: #f7a9bf;
  padding: 16px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  animation: fadeDown 0.25s ease;
}

.mobile-menu span,
.mobile-menu a {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.lamtra-header a {
  text-decoration: none;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1280px) {
  .nav-left,
  .nav-right {
    gap: 36px;
  }

  .nav-item {
    font-size: 18px;
  }
}

@media (max-width: 1180px) {
  .nav-left,
  .nav-right {
    gap: 24px;
  }

  .nav-item {
    font-size: 17px;
  }
}

@media (max-width: 1080px) {
  .nav-left,
  .nav-right {
    gap: 16px;
  }

  .nav-item {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }

  .hamburger,
  .header-right-icon {
    display: block;
    font-size: 28px;
    color: #fff;
  }

  .header-left {
    justify-content: flex-start;
  }

  .header-right {
    justify-content: flex-end;
  }
}
