PORT=8000
NODE_ENV=development
SUPABASE_URL=https://tpwgbutlqmubdnnnfhdp.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwd2didXRscW11YmRubm5maGRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMTgwMDAsImV4cCI6MjA4ODc5NDAwMH0.N11fA3pyYUpbtGPs0yvM9lwQecM6AJIwLEnGKNswfVI
VNP_TMNCODE=your_vnp_tmncode_here
VNP_HASHSECRET=your_vnp_hashsecret_here
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURNURL=http://localhost:5173/payment-result
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=lamtradamvingon@gmail.com
SMTP_PASS=your_app_password_here
SMTP_RECEIVER=lamtradamvingon@gmail.com
GOONG_API_KEY=JBr3lKV36LPRrMhceNxSP00i5osTwm4QhtgE3Rt9
FRONTEND_URL=http://localhost:5173

