VITE_SUPABASE_URL=https://tpwgbutlqmubdnnnfhdp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwd2didXRscW11YmRubm5maGRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMTgwMDAsImV4cCI6MjA4ODc5NDAwMH0.N11fA3pyYUpbtGPs0yvM9lwQecM6AJIwLEnGKNswfVI
VITE_GOONG_API_KEY=JBr3lKV36LPRrMhceNxSP00i5osTwm4QhtgE3Rt9
VITE_API_URL=https://lamtra-backend.onrender.com
VITE_AI_URL=https://lamtra-ai.onrender.com
